{% include 'header.html' %}
<div>
    <h2> Hello! </h2>
    This website is to analyze amazon product reviews given by customers and predict the sentiment as well as the rating for it.
    <br>
    <br>
    To try this online learning model, click 'Sentiment and Rating Predictor', type your review and hit 'Submit'. The prediction results will be shown for the Sentiment Classifier and the Rating Predictor individually. Validate the results by providing feedback and the model will learn the correct results!
    <br>
    <br>
    Check out all the reviews given through this website and the results obtained for both the models by clicking on 'Sentiment Analysis' and 'Rating Analysis' in the menu bar above.
    <br>
    <br>
    Happy Reviewing 😃!
</div>
{% include 'footer.html' %}
